<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title><%= title %> - 贵族美甲</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"> 
    <link href="/css/jquery-ui.css" rel="stylesheet" media="screen"> 
    <link href="/css/starter-template.css" rel="stylesheet"> 
    <link href="/css/justified-nav.css" rel="stylesheet" media="screen"> 
    <script data-main="/js/main" src="/js/require.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav nav-justified" role="tablist" id="myTab">
            <li class="active"><a href="#home" role="tab" data-toggle="tab">贵族美甲</a></li>
            <li><a href="#user_query" role="tab" data-toggle="tab">会员管理</a></li>
            <li><a href="#topup_query" role="tab" data-toggle="tab">充值记录</a></li>
            <li><a href="#artist" role="tab" data-toggle="tab" data-bind="click: listArtist">美甲师管理</a></li>
            <li><a href="#project" role="tab" data-toggle="tab" data-bind="click: listProject">项目管理</a></li>
            <li><a href="#serial_query" role="tab" data-toggle="tab">流水管理</a></li> 
            <li><a href="#" data-bind="text: name"></a></li>
            <li data-bind="visible: isLogin() "><a href="/logout">退出</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <div id="wrap" class="container">
      <% if (success && success.length > 0) { %>
        <div class="alert alert-success">
          <%= success %>
        </div>
      <% } %>

      <% if (error && error.length > 0) { %>
        <div class="alert alert-warning">
          <%= error %>
        </div>
      <% } %>

      <div class="tab-content">
        <div class="tab-pane fade in active hero-unit" id="home">
          <h1>欢迎来到 贵族美甲收费系统</h1>
          <p>贵族美甲收费系统 是一个集会员管理，会员充值，会员消费，美甲项目管理，账户流水管理于一体的多功能收费系统。</p> 
          <form class="form-signin" action="/login" id="login_form" method="post" role="form">
              <h2 class="form-signin-heading">登录</h2>
              <input type="text" class="form-control" name="account" placeholder="Email address" required autofocus>
              <input type="password" class="form-control" name="password" placeholder="Password" required>
              <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
              </label>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div> 

        <div class="tab-pane fade" id="user_query"></div>
        <div class="tab-pane fade" id="topup_query"></div>

        <div class="tab-pane fade" id="artist">
          <div class="btn-group">
            <a href="#artist_add" data-toggle="tab" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>新增美甲师</a>
          </div>
          <table class="table table-hover table-striped">
            <thead>
              <tr> 
                <th>姓名</th>
                <th>电话</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: artists"> 
              <tr> 
                <td data-bind="text:name"></td>
                <td data-bind="text:tel"></td>
                <td>
                  <a href="#" title="删除"  data-bind="click: $parent.removeArtist" class="btn btn-default"><serialspan class="glyphicon glyphicon-minus"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- 美甲师列表 -->
        <div class="tab-pane fade" id="artist_add">
          <form class="form-horizontal" method="post" action="/artistadd" width="500px" id="artist_form">
            <fieldset>
              <legend>添加美甲师</legend>
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                  <input type="text" name="name" class="form-control" id="name" placeholder="输入姓名" required />
                </div>
              </div> 
              <div class="form-group">
                <label for="sex" class="col-sm-2 control-label">性别</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    <input type="radio" id="inlineCheckbox2" name="sex" value="男"> 男
                  </label> 
                  <label class="radio-inline">
                    <input type="radio" id="inlineCheckbox1" name="sex" value="女" checked> 女
                  </label> 
                </div>
              </div> 
              <div class="form-group">
                <label for="birthday" class="col-sm-2 control-label">生日</label>
                <div class="col-sm-10">
                  <input type="date" name="birthday" class="form-control" id="birthday" placeholder="生日" value="1988-04-07"/>
                </div>
              </div> 
              <div class="form-group">
                <label for="tel" class="col-sm-2 control-label">电话</label>
                <div class="col-sm-10">
                  <input type="tel" name="tel" class="form-control" id="tel" placeholder="电话" />
                </div>
              </div> 
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">添加</button>
                <a id="cacelAddArtist" class="btn btn-default" href="#artist" data-toggle="tab">取消</a>
              </div>
            </fieldset>
          </form>
        </div>

        <!-- 项目列表 -->
        <div class="tab-pane fade" id="project">
          <div class="btn-group">
            <a href="#project_add" data-toggle="tab" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>新增项目</a>
          </div>
          <table class="table table-hover table-striped">
            <thead>
              <tr> 
                <th>项目名</th> 
                <th>价格</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: projects">    
              <tr> 
                <td data-bind="text: name"></td>
                <td data-bind="text: price"></td> 
                <td>
                  <a href="#" title="删除项目" data-bind="click: $parent.removeProject" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- 添加项目 -->
        <div class="tab-pane fade" id="project_add">
          <form class="form-horizontal" action="/projectadd" id="project_form" method="post" width="500px">
            <fieldset>
              <legend>添加项目</legend>
              <div class="form-group">
                <label for="proj[name]" class="col-sm-2 control-label">项目名</label>
                <div class="col-sm-10">
                  <input type="text" name="proj[name]" class="form-control" placeholder="输入项目名" required />
                </div>
              </div> 
              <div class="form-group">
                <label for="proj[price]" class="col-sm-2 control-label">价格</label>
                <div class="col-sm-10">
                  <input type="number" name="proj[price]" class="form-control" placeholder="输入价格" required />
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">添加</button>
                <a id="cacelAddProject" class="btn btn-default" href="#project" data-toggle="tab">取消</a>
              </div>
            </fieldset> 
          </form>
        </div>
        <div class="tab-pane fade" id="serial_query"></div>

      </div>
      <hr />
      
    </div>

    <footer class="container">
      <p class="text-muted"><a href="javascript:;"> For LaiJie  </a> 2014</p>
    </footer>
  </body>
</html>
