<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title><%= title %> - 贵族美甲</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"> 
    <link href="/css/jquery-ui.css" rel="stylesheet" media="screen"> 
    <link href="/css/starter-template.css" rel="stylesheet"> 
    <script data-main="/js/main" src="/js/require.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">贵族美甲</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
              <li class="active"><a href="#home" role="tab" data-toggle="tab">首页</a></li>
            <% if (!user) { %>
              <li><a href="#login" role="tab" data-toggle="tab">登录</a></li>
            <% } else { %>
              <li><a href='javascript:;'>欢迎您,<%= user.name%></a></li>
              <li><a href="/logout">退出</a></li>
            <% } %>
              <li><a href="#user_query" role="tab" data-toggle="tab">会员管理</a></li>
              <li><a href="#topup_query" role="tab" data-toggle="tab">充值记录</a></li>
              <li><a href="#artist" role="tab" data-toggle="tab">美甲师管理</a></li>
              <li><a href="#project" role="tab" data-toggle="tab">项目管理</a></li>
              <li><a href="#serial_query" role="tab" data-toggle="tab">流水管理</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </div>
    </nav>

    <div id="wrap" class="container">
      <% if (success && success.length > 0) { %>
        <div class="alert alert-success">
          <%= success %>
        </div>
      <% } %>

      <% if (error && error.length > 0) { %>
        <div class="alert alert-warning">
          <%= error %>
        </div>
      <% } %>

      <div class="tab-content">
        <div class="tab-pane active hero-unit" id="home">
          <h1>欢迎来到 贵族美甲收费系统</h1>
          <p>贵族美甲收费系统 是一个集会员管理，会员充值，会员消费，美甲项目管理，账户流水管理于一体的多功能收费系统。</p> 
        </div>

        <div class="tab-pane" id="login">
          <form class="form-signin" action="/login" id="login_form" method="post" role="form">
              <h2 class="form-signin-heading">登录</h2>
              <input type="text" class="form-control" name="account" placeholder="Email address" required autofocus>
              <input type="password" class="form-control" name="password" placeholder="Password" required>
              <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
              </label>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>

        <div class="tab-pane" id="user_query"></div>
        <div class="tab-pane" id="topup_query"></div>
        <div class="tab-pane" id="artist"></div>
        <div class="tab-pane" id="project"></div>
        <div class="tab-pane" id="serial_query"></div>

      </div>
      <hr />
      
    </div>

    <footer class="container">
      <p class="text-muted"><a href="javascript:;"> For LaiJie  </a> 2014</p>
    </footer>
  </body>
</html>
