<div class="row">
  <div class="col-md-4">
  	<button onclick="toAddUser()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> 新建会员</button>
  </div>
  <form class="col-md-6 form-inline" action="/user/query" id="user_query_form" role="form">
	  <div class="input-group col-sm-10">
	    <label class="sr-only" for="user-name">用户名</label>
		  <input id="user-name" type="text" placeholder="输入用户名，Enter 搜索，支持模糊查询" class="form-control" name="keyword"> 
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
      </span>
	  </div>
  </form>
</div>
<script>
$('#user_query_form').ajaxForm(function(data) {
  $('#user_query').html(data);
});
</script>